*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cnt{
  height:800px;
  width:350px;
  border: 1px solid rgb(224, 171, 124);
  background-color: bisque;
  align-items: center;
  margin-left: 45%;
  margin-top: 50px;
}

.girlImg{
    height: 100px;
    width: 250px;
    margin-top: 20px;
    padding-left: 80px;
    border-radius: 40%;
}

.heading{
    text-align: center;
    margin-top: 10px;
}

.box{
    height: 110px;
    width: 80%;
    margin: 30px;
    background-color: rgb(245, 208, 163);
    border-radius: 15px;
    display: flex;
}

.boxImg{
    height: 90px; 
    width: 100px;
    padding-top: 10px;
    padding-left: 10px;
}

.content{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px
}

.backbtn{
    height: 30px;
    width: 100px;
    background-color: rgb(70, 70, 203);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 120px;
}

.backbtn button:hover{
    background: #1b2455;
    transform: scale(1.05);
}

@media (max-width: 400px){
    .cnt{
        width:100%;
        height:100vh;
    }
}