*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

#cnt{
  height: 600px;
  width:370px;
  color: rgb(8, 8, 181);
  font-size:20px;
  background-image: url("https://assets.ccbp.in/frontend/static-website/yoga-bg.png");
  background-size: cover;
  border: 1px solid rgb(224, 171, 124);
  padding-left: 5px;
  padding-top: 20px;
  padding-right: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
   margin-left: 40%;
    margin-top: 80px;
  }

  .girlImg{
    height: 200px;
    width: 250px;
    margin-top: 180px;
    padding-left: 40px;
    padding-right:40px;
    border-radius: 40%;
   }

   p{
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-size: 16px;
   }
.btn{
    height: 40px;
    width: 100px;
    background-color: rgb(70, 70, 203);
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}
.btn button:hover{
    background: #1b2455;
    transform: scale(1.05);
}
@media (max-width: 400px){
    .cnt{
        width:100%;
        height:100vh;
    }
}